# Gradle packages
/.gradle/

# Gradle scripts
gradlew
gradlew.bat

# IntelliJ IDEA settings
/.idea/

# Local settings (plugins, executables, etc.)
/local.properties



# General kotlin lib build folder
/shared/build/

# Browser kotlin build folder
/browser/build/
/kotlin-js-store/

# Native kotlin lib build folder
/desktop/build/

# Native GLFW lib folder
/desktop/glfw/



# QT project build folder
/desktop/build-*/

# QT settings
/desktop/ClassicDungeon/ClassicDungeon.pro.*



# JS build folder
/build/
