# Gradle packages
**/.gradle/

# Gradle scripts
gradlew
gradlew.bat

# IntelliJ IDEA settings
/.idea/

# Local settings (plugins, executables, etc.)
/local.properties



# General build folder
/shared/build/

# Browser build folder
/browser/build/
/kotlin-js-store/

# Native build folder
/desktop/build/

# Native GLFW lib folder
/desktop/glfw/

# BuildSrc build folder
/buildSrc/build/



# Project build folder
/build/
